@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

p {
    color: rgb(255, 255, 255);
}

body {
    background-image: linear-gradient(to left, #966fd6, #4e3bf7);
    font-family: 'Source Sans Pro';
    line-height: 1.2;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: white;
    position: absolute;
    top: 34%;

    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.open-slide {

    top: 10%;

    position: absolute;
    top: 1em;

    left: 1em;
    width: 100%;
    margin: 0;
    text-align: left;
}

@media(max-width:568px) {
    .topnav {
        display: none;
    }
}

@media(min-width:568px) {
    .open-slide {
        display: none;
    }
}

.topnav {
    background-color: linear-gradient(to left, #966fd6, #4e3bf7);
    overflow: hidden;

    margin: auto;
    width: 27%;
    padding: 10px;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(158, 61, 61);
    color: black;
}

.topnav a.active {
    color: white;
    border-bottom: 4px solid white;
}

.topnav .icon {
    display: none;
}

.logo {
    position: absolute;
    top: 0.5em;

    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

.logo img {
    width: 15em;
    height: 15em;
}

.discord {
    position: absolute;
    top: 0.5em;

    left: 0;
    width: 100%;
    margin: 0;
    text-align: right;
}

.discord img {
    width: 7em;
    height: 4.5em;
}

/* top and left need to be adjusted if they dont fit right*/
.container {
    position: absolute;
    top: 45%;

    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0.3;
    font-size: 20px;
}

.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    position: absolute;
    top: 59%;
    /* left value should be adjusted to the text and overall center)*/
    left: 50%;
    transform: translate(-50%, -50%);
}