p {
    color: red;
}

body {
    background-image: linear-gradient(to left, #966fd6, #4e3bf7);
}

.discord-logo {
    position: absolute;
    top: 0.5em;
    
    left: 0;
    width: 100%;
    margin: 0;
    text-align: right;
}

.discord-logo img {
    width: 7em;
    height: 4.5em;
}